<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lol Visualization</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LolServlet</display-name>
    <servlet-name>LolServlet</servlet-name>
    <servlet-class>lolviz.LolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LolServlet</servlet-name>
    <url-pattern>/LolServlet</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>lolviz.SigninServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>lolviz.CallbackServlet
        </servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
</web-app>